PORT=3000
UNSPLASH_ACCESS_KEY=your_unsplash_access_key
DATABASE_URL=postgresql://user:password@localhost:port/dbname
DATABASE_POOL_SIZE=pool_size_setting
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_DAY=your_jwt_expires_day
SUPPORT_EMAIL=your_support_email
MAIL_HOST=your_email_host
MAIL_PORT=587
MAIL_USER=your_email_address
MAIL_PASS=your_email_app_password
MAIL_FROM=your_email_address
FRONTEND_URL=http://localhost:3000
RESET_PASSWORD_EXPIRES=expires_time