PORT=3000
UNSPLASH_ACCESS_KEY=your_unsplash_access_key
DATABASE_URL=postgresql://user:password@localhost:port/dbname
DATABASE_POOL_SIZE=pool_size_setting
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_DAY=your_jwt_expires_day